@import "variables";
h1{
    font-size: 45px;
    color: $red-color;

}
h2{
    color: green;
    font-size: 45px;

}
.form-group{
    text-align: center;
}
.course-card{
    margin-top: 25px;
    margin-left: 85px;

    align-items: center;
}